// 全体に広く効かせる記述。body、section等や、単独で汎用性のあるスタイル。

img {
  display: block;
  max-width: 100%;

}

.slick-slide img{
  @include querySp{
    zoom: 1;
  }
}

.bg-full {
  margin: 0 calc(((100vw - 100%) / 2) * -1);
  padding: 48px calc((100vw - 100%) / 2);
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.pc-on{
  @include queryTb{
    display: none!important;
  }
}
.sp-on{
  @include queryPcTb{
    display: none!important;
  }
}

.tb-br {
  height: 0;
  @include queryTb {
    &::before {
      content: "\A";
      white-space: pre;
    }
  }
}

.sp-br {
  height: 0;
  @include querySp {
    &::before {
      content: "\A";
      white-space: pre;
    }
  }
}

.column-2,
.column-3 {
  display: flex;
  @include querySp {
    display: block;
  }
}
