@use "../../Foundation/import" as var;
[class*="c-btn"]{
  a{
    display: block;
  }
}


.c-btn{
  &:last-child{
    margin-top: 24px;
  }
  
  a{
    color: var(--color-red);
    border: 1px solid var(--color-red);
    display: flex;
    min-width: 240px;
    height: 48px;
    align-items: center;
    justify-content: center;
    transition: .4s ease-out;
    @include var.mq(max,sp){
      min-width: unset;
      width: 100%;
    }
    &:hover{
      background-color: var(--color-red);
      color: #fff;
    }
  }

  &-rc{
    a{
      color: #fff;
      background-color: var(--color-blue);
      border-color: var(--color-blue);
      border-radius: 24px;
      &:hover{
        background-color: #fff;
        color: var(--color-blue);
      }
    }
  }
}